@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --list-grid: repeat(auto-fit, minmax(250px, 1fr));
}

body {
  background: var(--background);
  color: var(--foreground);
}
