@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --list-grid: repeat(auto-fit, minmax(300px, 1fr));
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-trim {
  text-box-trim: trim-both;
}
